body
{
    font-family: 'Open Sans', sans-serif;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

@media (max-width:768px)
{
    
    .fb-profile-text>h1{
        font-weight: 700;
        font-size:16px;
    }

    .fb-image-profile
    {
        margin: -45px 10px 0px 25px;
        z-index: 9;
        width: 20%; 
    }
}

/* make sure the element has position: relative */
[data-notifications] {
    position: relative;
  }
  
  /* append the notification badge after it */
  [data-notifications]:after {
  
    /* the burger */
    content: attr(data-notifications);
  
    /* the fries */
    position: absolute;
    background: red;
    border-radius: 50%;
    display: inline-block;
    padding: 0.2em;
    color: #f2f2f2;
    right: 340px;
    top: -5px;   
  }


  agm-map {
    height: 350px;
  }
  
