<br>
<div class="alert alert-danger" role="alert">
    Vérifiez les produits de votre pannier avant de commander.
  </div>
<div class="board-inner" id="status-buttons">
  <ul class="nav nav-tabs" id="myTab">
    <div class="liner"></div>

    <!-- circular user icon -->
    <li>
      <a [routerLink]="['/checkouts', {outlets: {'checkOutlet': ['/']}}]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        data-toggle="tab" title="Product Summary">
        <span class="round-tabs one">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        </span>
      </a>
    </li>

    <!-- circular tasks icon -->
    <li>
      <a [routerLink]="['/checkouts', {outlets: {'checkOutlet': ['shipping-details']}}]" routerLinkActive="active" data-toggle="tab"
      [routerLinkActiveOptions]="{ exact: true }" title="Shipping Details">
        <span class="round-tabs two">
          <i class="fa fa-truck" aria-hidden="true"></i>
        </span>
      </a>
    </li>

    <!-- circular home icon [routerLink]="['/checkouts', {outlets: {'checkOutlet': ['billing-details']}}]" -->
    <li>
      <a routerLinkActive="active" data-toggle="tab" [routerLinkActiveOptions]="{ exact: true }"
        title="Confirmation">
        <span class="round-tabs three">
          <i class="fa fa-check-circle" aria-hidden="true"></i>
        </span>
      </a>
    </li>

    <!-- circular ok icon [routerLink]="['/checkouts', {outlets: {'checkOutlet': ['result']}}]" -->
    <li>
      <a  routerLinkActive="active" data-toggle="tab" title="Payment" [routerLinkActiveOptions]="{ exact: true }">
        <span class="round-tabs four">
          <i class="fa fa-credit-card" aria-hidden="true"></i>
        </span>
      </a>
    </li>

  </ul>
  <div class="clearfix"></div>
</div>