<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<br>
<div class="container" *ngIf="cartProducts.length > 0">
  <div class="row">
    <!-- List of Products -->
    <div class="col-8">
      <div class="row">
        <div class="col-4" *ngFor="let product of cartProducts">
          <div class="item">
            <div class=" mb-r">

              <!--Card-->
              <div class="card card-cascade wider">

                <!--Card image-->
                <a [routerLink]="['/products/product', product.$key ]">

                  <div class="view overlay hm-white-slight" style="height:240px;">
                    <img [src]="product.item_image" class="img-fluid" alt="" width="360px" height="640px">
                    <a>
                      <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                    </a>
                  </div>
                </a>

                <!--/.Card image-->

                <!--Card content-->
                <div class="card-body text-center no-padding">
                  
                  <h5 class="card-title">
                    <strong>
                      <a [routerLink]="['/products/product', product.$key]" style="color: red;font-size:12px;">{{ product.item_name }}</a>
                    </strong>
                  </h5>
                  <!--<p style="font-size:10px;"><strong>Quantité : </strong>{{product.item_qty}}</p>-->

                  <!--<button class="fa-plus" (click)="increment(product.$key)"></button>-->
                  
                    
                  <div class="row justify-content-md-center">
                      <div class="col col-lg-2">
                          <a class="input-group-btn"  (click)="decrement(product.$key)"><i class="fa fa-minus"></i></a>
                      </div>
                      <div class="col-md-auto">
                          {{product.item_qty}}
                      </div>
                      <div class="col col-lg-2">
                          <a class="input-group-btn" style="width:5px;" (click)="increment(product.$key)"><i class="fa fa-plus"></i></a>
                      </div>
                    </div>

                  <!--<button class="button fa-minus" (click)="decrement(product.$key)" ></button>-->
                 
                  <!--Card footer-->
                  <div class="card-footer">
                    <span class="left" style="color:crimson;font-size:12px">{{ product.item_price }} Fcfa</span>
                    <span class="right">
                      <a placement="top" mdbTooltip="Quick Look" container="body" [routerLink]="['/products/product', product.$key]">
                        <i class="fa fa-eye"></i>
                      </a>
                      <a placement="top" mdbTooltip="Remove Product" container="body" (click)="removeCartProduct(product, product.$key)">
                        <i class="fa fa-trash"></i>
                      </a>
                    </span>
                  </div>

                </div>
                <!--/.Card content-->

              </div>
              <!--/.Card-->

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="col-4">
      <app-cart-calculator [products]="cartProducts"></app-cart-calculator>
    </div>
  </div>
</div>
<div class="container" *ngIf="cartProducts.length === 0">
  <app-no-products-found [title]="messageTitle" [description]="messageDescription"></app-no-products-found>
</div>