
<br/>
<div><strong>Mes commandes</strong></div>
<div class="alert alert-warning" role="alert">
  Vous pouvez appeler les vendeur pour suivre votre commande
</div>
<br>
  <div class="row">
    <!-- List of Products -->
    <div class="col-sm-4 mb-2" *ngFor="let product of orderListMy | paginate: { itemsPerPage: 9, currentPage: page }">
        <!--<div class="col-sm-4 mb-2" *ngFor="let product of productList | filterByBrand:searchText | paginate: { itemsPerPage: 6, currentPage: page }">-->
      <div class="item">
        <div class=" mb-r">
          <!--Card-->
          <div class="card card-cascade wider" style="margin:0px;">

              <div *ngIf="product.encore == 0" class="alert alert-warning" role="alert">
                  ce produit a été vendu à un autre client
              </div>

            <!--Card image-->
            <a [routerLink]="['/products/product', product.product_id]">
              <div class="view overlay hm-white-slight" style="width:100%;height:160px;">
                <img [src]="product.product_image" class="img-fluid" alt=""  width="100%" height="100%">
                <a>
                  <div class="mask waves-effect waves-light" mdbRippleRadius></div>
                </a>
              </div>
            </a>
            <!--/.Card image-->
            <!--Card content-->
            <div class="card-body text-center no-padding" style="margin:1px;padding:5px;">
              <p class="card-title" style="margin:1px;">
                <strong>
                  <a [routerLink]="['/products/product', product.product_id]" routerLinkActive="router-link-active" style="font-size:12px;">{{ product.product_name }}</a>
                </strong>
              </p>
              <!--Description-->
              <p class="card-text" style="font-size:10px;margin:1px;padding:5px;">{{ product.message }}
              </p>

              <!--Card footer-->
              <div class="card-footer" style="padding:0px;margin:0px;">
                
                <div class="row">
                  <span class="right" style="font-size:12px;margin-left:20px;"><strong>Vendeur</strong> : {{product.nomvendeur}}</span>
                  <span class="left" style="font-size:12px;margin-left:10px;"><strong>Tel</strong> : {{product.phonevendeur}}</span>
                </div>
                <div class="row">
                    <span class="right" style="font-weight: bold;font-size:12px;margin-left:20px;">Quantité: {{ product.item_qty }}</span><br>
                    <span class="left" style="font-weight: bold;font-size:12px;margin-left:10px;">total: {{ product.item_qty * product.product_price }} FCFA</span>   
                </div>
                
                
                <!--<del class="right" style="color: red;font-size:10px;" *ngIf="product.reduct != 1">{{product.reduct}} Fcfa </del>
                <span class="right">
                  <a placement="top" mdbTooltip="Add to Wishlist" container="body" (click)="addFavourite(product)">
                    <i class="fa fa-heart"></i>
                  </a>
                  <a placement="top" mdbTooltip="Add to Cart" container="body" (click)="addToCart(product)">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                  <a placement="top" mdbTooltip="Remove Product" container="body" *ngIf="authService.isAdmin()" (click)="removeProduct(product.$key)">
                    <i class="fa fa-trash"></i>
                  </a>
                </span>-->
                <button (click)="retour(product)" mdbTooltip="Annuler la commande" style="width:100%;" class="btn btn-danger waves-light">Annuler</button>
              </div>

            </div>
            <!--/.Card content-->

          </div>
          <!--/.Card-->

        </div>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
