<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="error-template">
        <h1>
          Oops!</h1>
        <h2>
          404 Page Not Found</h2>
        <div class="error-details">
          Sorry, la page que vous solicitez n'existe pas!
        </div>
        <div class="error-actions">
          <a href="/" class="btn btn-primary btn-lg">
            <span class="glyphicon glyphicon-home"></span>
            Retour page Accueil </a>
          <a href="/" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-envelope"></span> Nous contacter </a>
        </div>
      </div>
    </div>
  </div>
</div>
