
<br>
<br>
<div class="row">
  <div class="col-8">
    <div class="alert alert-secondary" role="alert">
        Le paiement par carte sera bientot disponible merci de votre bonne comprehension!
      </div>
</div>
  <div class="col-4">
    .
  </div>
</div>