<!-- Carousel -->
<div class="container">
  <!--Carousel Wrapper-->
  <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-2" data-slide-to="1"></li>
      <li data-target="#carousel-example-2" data-slide-to="2"></li>

      <li data-target="#carousel-example-2" data-slide-to="3"></li>
      <li data-target="#carousel-example-2" data-slide-to="4"></li>
      <li data-target="#carousel-example-2" data-slide-to="5"></li>
      <!--<li data-target="#carousel-example-2" data-slide-to="6"></li>-->
      <li data-target="#carousel-example-2" data-slide-to="7"></li>
      <li data-target="#carousel-example-2" data-slide-to="8"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="view">
          <img class="d-block w-100" height="530px" src="/assets/images/creer.jpg" alt="First slide">
          <div class="mask rgba-black-light"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Réseau social des ventes en ligne</h3>
          <a href="https://play.google.com/store/apps/details?id=com.philippeayissi.mymarket">Télécharger L'application Android</a>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" height="530px" src="/assets/images/culture.jpg" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Toutes les cultures sont présenté sur myMarket</h3>
          <a href="https://play.google.com/store/apps/details?id=com.philippeayissi.mymarket">Télécharger L'application Android</a>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" height="530px" src="/assets/images/elevage.jpg" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Eléveur de poulets, porcs chèvres et autres...</h3>
          <a href="https://play.google.com/store/apps/details?id=com.philippeayissi.mymarket">Télécharger L'application Android</a>
        </div>
      </div>

      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" height="530px" src="/assets/images/achat2.jpg" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Faites les achats depuis la maison</h3>
          <a href="https://play.google.com/store/apps/details?id=com.philippeayissi.mymarket">Télécharger L'application Android</a>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" height="530px" src="/assets/images/analyse2.jpg" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Analyse financière des dépenses et des achats</h3>
          <a href="https://play.google.com/store/apps/details?id=com.philippeayissi.mymarket">Télécharger L'application Android</a>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" height="530px" src="/assets/images/discussion2.jpg" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Discuter le prix par tchat avant l'achat</h3>
          <a href="https://play.google.com/store/apps/details?id=com.philippeayissi.mymarket">Télécharger L'application Android</a>
        </div>
      </div>
      <!--<div class="carousel-item">
        Mask color
        <div class="view">
          <img class="d-block w-100" height="530px" src="/assets/images/enchere.jpg" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Profiter des bonnes opportunités des ventes aux enchères</h3>
          <a href="https://play.google.com/store/apps/details?id=com.philippeayissi.mymarket">Télécharger L'application Android</a>
        </div>
      </div>-->
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" height="530px" src="/assets/images/geolocalisation.jpg" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Retrouver vos commandes et les vendeurs sur la carte</h3>
          <a href="https://play.google.com/store/apps/details?id=com.philippeayissi.mymarket">Télécharger L'application Android</a>
        </div>
      </div>
      <div class="carousel-item">
        <!--Mask color-->
        <div class="view">
          <img class="d-block w-100" height="530px" src="/assets/images/reputation.jpg" alt="Third slide">
          <div class="mask rgba-black-slight"></div>
        </div>
        <div class="carousel-caption">
          <h3 class="h3-responsive">Commentaires et les likes des vendeurs ainsi que des prodits</h3>
          <a href="https://play.google.com/store/apps/details?id=com.philippeayissi.mymarket">Télécharger L'application Android</a>
        </div>
      </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
  </div>
  <!--/.Carousel Wrapper-->
  <br>
  <app-best-product></app-best-product>
</div>