<!--Footer-->
<footer class="page-footer dander center-on-small-only mt-3">
  <!--Copyright-->
  <div class="footer-copyright">
    <div class="container-fluid">
      © 2019 Copyright:
      <a href="mailto:philippo23061987@gmail.com"> mailto</a>

      <span style="float:right">
        <i class="fa fa-globe"></i>
        Application mobile:
        <a href="https://play.google.com/store/apps/details?id=com.philippeayissi.mymarket" target="blank">myMarket</a>
      </span>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->