<!--Section: Products v.2-->
<section class="section pb-3">

  <div class="row">
    <div class="col-md-6">
      <blockquote class="blockquote float-left bq-danger">
        <h3 class="bq-title">Produits à la Une</h3>
      </blockquote>
    </div>
    <div class="col-md-6">
      <a class="btn btn-danger float-right" [routerLink]="[ '/products/all-products' ]">Tout voir</a>
    </div>
  </div>
  <owl-carousel [options]="options" [items]="bestProducts" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <!--First column-->
    <div class="item" style="padding:20px" *ngFor="let product of bestProducts;let i = index">
      <div class=" mb-r">

        <!--Card-->
        <div class="card card-cascade wider" style="margin:1px;">

          <!--Card image-->
          <a [routerLink]="['/products/product', product.$key]">
            <div class="view overlay hm-white-slight" style="width:100%;height:160px;">
              <img [src]="product.image" class="img-fluid" alt="{{ product.name }}" width="160px" height="160px">
             <a>
                <div class="mask waves-effect waves-light" mdbRippleRadius></div>
              </a>
            </div>
          </a>
          <!--/.Card image-->

          <!--Card content-->
          <div class="card-body text-center no-padding" style="margin:1px;padding:5px;">
            <!--Category & Title
            <a href="" class="text-muted">
              <h5>{{ product.productCategory }}</h5>
            </a>-->
            <h5 class="card-title" style="margin:1px;">
              <strong>
                <a [routerLink]="['/products/product', product.$key]" style="font-size:12px;color:crimson;">{{ product.name }}</a>
              </strong>
            </h5>

            <!--Description
            <p class="card-text" style="font-size:10px;margin:1px;padding:5px;">{{ product.description }}</p>
              -->
            <!--Card footer-->
            <div class="card-footer" style="padding:5px;margin:5px;">
              <div class="row">
                  <span class="left badge badge-pill badge-danger" style="font-weight: bold;font-size:10px;">{{ product.price }} FCFA </span> 
                  <del mdbTooltip="Ancien prix" style="color: red;font-size:10px;margin-left:70px;" *ngIf="product.reduct != 1">{{product.reduct}} Fcfa </del>
              </div>
              
              <span class="right">
                <a placement="bottom" mdbTooltip="Ajouter aux favoris" (click)="addFavourite(product)" container="body">
                  <i class="fa fa-heart"></i>
                </a>
                <a placement="top" mdbTooltip="Ajouter au panier" container="body" (click)="addToCart(product)">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
              </span>
              
            </div>
          </div>
          <!--/.Card content-->
        </div>
        <!--/.Card-->
      </div>
      <!--/First column-->
    </div>
  </owl-carousel>
</section>
<!--Section: Products v.2-->

<ng2-toasty></ng2-toasty> 