<br>
<br>


  <div class="row">
    <div class="col-8">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading"><strong>Félicitation! </strong></h4>
        <p>votre commande ont été effectuées avec succès</p>
        <hr>
        <p class="mb-0">Nous vous invitons à suivre vos commandes en allant dans votre page de profile, mymarket vous recmercie pour votre fidélité.</p>
      </div>
    </div>
    <div class="col-4">
      .
    </div>
  </div>
