<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-muted">VOTRE PANIER</span>
  <span class="badge badge-danger badge-pill">{{products.length}}</span>
</h4>
<ul class="list-group mb-3">
  <li class="list-group-item d-flex justify-content-between lh-condensed" *ngFor="let product of products">
    <div>
      <h6 class="my-0">{{product.item_name}}</h6>
    </div>
    <span class="text-muted">{{product.item_price}} FCFA x {{product.item_qty}}</span>
  </li>
  <hr>
  <li class="list-group-item d-flex justify-content-between">
    <span>Total (FCFA)</span>
    <strong>{{totalValue}} FCFA</strong>
  </li>
  <a class="btn btn-danger" [routerLink]="['/products/all-products']">Continuez le Shopping</a>
  <a class="btn btn-default" [routerLink]="['/checkouts']">COMMANDEZ</a>

</ul>